[Unit]
Description=Temporary AutoSSH tunnel (victorcastle.com:22 -> localhost:33819)
After=network.target
[Service]
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -NR 33821:localhost:33819 -o "ServerAliveInterval 60" -o "ServerAliveCountMax 2" -o TCPKeepAlive=yes castle@victorcastle.com

[Install]
WantedBy=multi-user.target
