[Unit]
Description=KBCalc
[Service]
Type=simple
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStart=%h/.local/bin/scripts/kbcalc
[Install]
WantedBy=graphical.target
