[Unit]
Description=Picom
[Service]
Type=simple
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStart=picom --experimental-backends --backend glx
[Install]
WantedBy=basic.target
