[Unit]
Description=Detects newly connected USB storage devices and shows mount menu
[Service]
Type=simple
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStart=%h/.local/utils/usb-notify
[Install]
WantedBy=graphical.target
